body {
    font-family: 'Calibri', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
    color: #383837;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #f6eaee;
    text-align: center;
    letter-spacing: 10px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    background-color: #f6eaee;
    display: inline-block;
    padding: 4px 8px;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    margin: 6px 0;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 10px 0 20px 0;
    text-align: center;
}

.contact-info span {
    font-size: 14px;
}

ul {
    list-style-type: disc;
    margin: 0 0 10px 20px;
}

ul li {
    margin-bottom: 5px;
}

figure {
    margin: 0;
}

figcaption {
    font-weight: bold;
    margin-top: 10px;
}

@media (max-width: 600px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }
}

section, figure, ul {
    margin-bottom: 20px;
}

b {
    font-weight: bold;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 90%;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

body.day-theme {
    background-color: #ffffff;
    color: #000000;
}

body.night-theme {
    background-color: #1e1e1e;
    color: #f0f0f0;
}